- @title = " | Page5"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            (111) 111-1111
          %p  
            %sub EMAIL
            %br
            name@domain.com
          %p
            %sub ADDRESS
            %br
            12345 Street St.
            %br
            Houston, TX 77000
          

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 We Want to Hear from YOU
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "385", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p2m7/", :width => "100%", :border => "none"}       
