- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            (713) 530-7265
          %p  
            %sub EMAIL
            %br
            %a{:href => "mailto:ncliffordbrown@yahoo.com"}ncliffordbrown@yahoo.com
          %p
            %sub ADDRESS
            %br
            5500 E Sam Houston Pkwy N Ste 102
            %br
            Houston, TX 77015
          

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 We Want to Hear from YOU
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "405", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p1a7/", :width => "100%", :border => "none"}       
