@import compass/utilities
@import compass/layout
@import compass/css3

@import partials/variables
@import partials/typography
@import partials/color
@import partials/corners

.triple-option
	@extend .clearfix
	width: $inside-width
	height: $option-height
	margin: 0 auto ($v-gap) auto
	.left
		a.container
			@extend .container-setup
			margin: 0px ($h-gap - 1) $v-gap 0
			//background: $accent-color url("/images/home_left.jpg") no-repeat
	.center
		a.container
			@extend .container-setup
			margin: 0px ($h-gap - 1) $v-gap 0
			//background: $accent-color url("/images/home_center.jpg") no-repeat
	.right
		a.container
			@extend .container-setup
			margin: 0px 0 $v-gap 0
			//background: $accent-color url("/images/home_right.jpg") no-repeat


.container-setup
	+box-sizing(border-box)
	+border-radius($corner-radius)
	@extend .font-helvetica
	@extend .clearfix
	position: relative
	+float-left
	width: (($inside-width - ($h-gap*2))/3)
	height: $option-height
	background: $accent
	border-bottom: 1px solid $line-color
	border-top: 1px solid $line-color
	border-right: 1px solid $line-color
	h1
		+box-sizing(border-box)
		position: relative
		top: ($v-gap*0.75)
		padding: 0 ($h-gap*0.75)
		color: $primary
		font-size: 24px
		font-weight: 100
		word-spacing: .1em
		letter-spacing: .05em
	h3
		@extend .font-helvetica
		position: relative
		top: 1em
		margin: 0 76px 12px ($h-gap*0.75)
		color: $secondary
		font-size: 12px
		font-weight: 200
		line-height: 1.3em
		//word-spacing: .05em
		//letter-spacing: .025em
		//border: 1px solid #000
	p.link
		+box-sizing(border-box)
		+border-radius($corner-radius)
		position: absolute
		bottom: ($v-gap*0.75)
		left: ($h-gap*0.75)
		display: inline
		color: $secondary
		font-size: 11px
		font-weight: 200
		text-decoration: none
	&:hover
		text-decoration: none
		opacity: 0.85
		filter: alpha(opacity=85)
	
	
//Background Images for multiple pages - use ID names

#one.left
	h1
		color: $accent
	a.container
		background: transparent url(/images/one-left.jpg) no-repeat
#one.center
	a.container
		background: transparent url(/images/one-center.jpg) no-repeat
#one.right
	h1
		color: $accent
		padding-right: 100px
		//background: $gray-med
	h3
		color: $gray-light
		margin-right: 150px
	a.container
		background: transparent url(/images/one-right.jpg) no-repeat