- @title = " | Page4"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:charset => "utf-8", :src => "javascripts/jquery.prettyPhoto.js", :type => "text/javascript"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/gallery/banner-4.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Section without Image
            %ul.gallery.clearfix
              %li
                %a{:href => "images/gallery/fullscreen/1.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_1.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/2.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_2.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/3.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_3.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/4.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_4.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/5.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_5.jpg",}/
              %li
                %a{:href => "images/gallery/fullscreen/6.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_6.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/7.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_7.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/8.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_8.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/9.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_9.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/10.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_10.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/11.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_11.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/12.jpg", :rel => "prettyPhoto[gallery2]", :title => "Caption"}
                  %img{:alt => "Title", :src => "images/gallery/thumbnails/t_12.jpg"}/

        
   
%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function(){
  $("area[rel^='prettyPhoto']").prettyPhoto();
  
  $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'pp_default',slideshow:3000, autoplay_slideshow: false});
  $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
  
  $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
  custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
  changepicturecallback: function(){ initialize(); }
  });
  
  $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
  custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
  changepicturecallback: function(){ _bsap.exec(); }
  });
  });

