- @title = "About: Preparation"
- @body_class = "two"

#prep.image-slider
  %h1 Thick-sliced roast beef.
  %h3 Served with rice noodles and steamed vegetables.
  %h3 Try it with our Signature Steaksauce, made in-house by our head chef.
  / %p.link
  /   = link_to "Learn More", "/#" 

.double-option
  #prep.left
    .container
      %h1 Featured Dish
      %h3 Thick-sliced roast beef with rice noodles and steamed vegetables.
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"
  #prep.right
    .container
      .breadcrumbs
        %p
          %a{:href => "/home"} Home
          > 
          %a{:href => "/prep"} Preparation
      .content
        %h1 Section Title 