- @title = " | About"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["How It Works", "/how"]
- @sub1 = ["How It Works", "#how"]
- @sub2 = ["sss", "#sss"]
- @sub3 = ["ssss", "ssss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}




.body
  .center
    .content
      #two.sidebar.right
        .text
          %h1 Highlights
          %p 
            &ndash; 100% Money Back Guarantee
            %br
            &ndash; Increase The Size of Your Buttocks
            %br
            &ndash; Helps Eliminate Cellulite
            %br
            &ndash; No Known Side Effects
            %br
            &ndash; Discreet Shipping & Billing
            %br
            &ndash; No Life Threatening Surgery
            %br
            &ndash; Affordable Price
            %br
            &ndash; Increased Self-Esteem & Self-Confidence
            %br
            &ndash; Permanent Results
      

      #two.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p BBB Enhancement Formula is an all natural herbal supplement pill which helps you get a bigger butt without comprimising your waist. Let's face it, it's not that hard to get a big butt on your own. Unfortunately, you will also get a big gut in the process. What BBB Formula does, is it takes the best from both worlds. It helps you get a big butt with a small waist. If you are reading this you most likely fall under these 2 categories. You either have a small waist and a small butt OR a large waist and large buttocks. Our formula will help you achieve a desired body shape, whether that is a bigger butt while maintaning your small waist OR reducing your waistline without reducing your big butt.

            %h2 How exactly does it work? Scientifically Speaking?
            %p Humans store most of their fat in their stomach and/or their buttocks, of course unless they are full blown fat in which case they will store their fat all over. What our formula does, is it shuts down your fat receptors in your stomach making gaining weight in your stomach "a thing of the past". Your body will still need a place to deposit the fat however. It will go to the second most commonly area fat is stored, your buttocks. Your buttocks will then become the primary location where your fat is stored.

            %h2 I don't have much fat in my stomach, I don't think shutting down the fat receptors in my stomach will make a difference!
            %p If you don't have much fat in your stomach you are most likely a thin/skinny body type. Our formula slows down the metabolism on thin/skinny body types, making you more prone to weight gain, by shutting your fat cells in your stomach, the fat will be deposited in your buttocks. Giving you a bigger butt over time without gaining belly fat.

            %h2 If you are thin/skinny:
            %p You most likely have a fast metabolism. What our pill would do is slow your metabolism for a few hours, it is vital that you consume a meal after taking a pill in order for our formula to be effective. Our pill will add fat to your midsection from the meal you consumed and transfer that fat to your buttocks. This whole process takes 24 hours and is repeated every time you take a pill.

            %p
              %b Attention: 
              You will NOT get fat taking our formula. You will still keep your small waist and the fat added to your waist everyday will be transfered to your butt on the very same day.

            %p As your buttocks grow in size, your hips will widen in proportion to your buttocks. Giving you that "Hourglass Shape" every woman dreams of.

            %h2 If you are medium/average:
            %p Our formula will use a combination of both thin and thick benefits. For example : If you have excess belly fat, our formula will transfer it to your buttocks. After that, our formula will slow your metabolism and add fat to your midsection and transfer it to your buttocks.

            %h2 If you are thick/fuller:
            %p You will see results much quicker since our pill will only have to do 1 job. And that is to transfer your excess weight from your belly, midsection, and waistline into your buttocks. So you will get 2 benefits in 1. Not only will you get a smaller waist and flatter stomach you will also have a bigger curvier butt all simultaneously. Your metabolism will not be affected.
        

          .spacer