.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-base, .image-slider .center h3 {
  font-face: "EmbedFont-2";
}

.bg-gradient-primary, .image-slider .center p.slider-link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#fde9ec), to(#f48c9c));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #fde9ec, #f48c9c);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461)";
}

.bg-gradient-reverse, .image-slider .center p.slider-link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#f48c9c), to(#fde9ec));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #f48c9c, #fde9ec);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #0d0d0d, black);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90)";
}

.bg-gradient-gray-accent {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(white));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #efefef, white);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .image-slider .center h3 {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .image-slider .center p.slider-link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .image-slider .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, .image-slider .center, .image-slider, .image-slider .center h1, .image-slider .center h3, .image-slider .center p.slider-link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: black !important;
  font-weight: bold;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-base, .image-slider .center h3 {
  font-face: "EmbedFont-2";
}

.bg-gradient-primary, .image-slider .center p.slider-link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#fde9ec), to(#f48c9c));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #fde9ec, #f48c9c);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461)";
}

.bg-gradient-reverse, .image-slider .center p.slider-link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#f48c9c), to(#fde9ec));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #f48c9c, #fde9ec);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #0d0d0d, black);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90)";
}

.bg-gradient-gray-accent {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(white));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #efefef, white);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .image-slider .center h3 {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .image-slider .center p.slider-link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.image-slider .center {
  padding: 30px 0 15px;
}
.image-slider .center h1 {
  font-family: "EmbedFont-2";
  width: 900px;
  margin: 110px auto 0;
  padding: 6px 0 4px 0;
  color: white;
  background: #f48c9c;
  opacity: 0.85;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 38px;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  border-bottom: 4px solid white;
}
.image-slider .center h3 {
  position: relative;
  top: 0px;
  left: 0;
  width: 380px;
  margin: 5px 0 6px 0;
  padding: 0.4em 20px 0.4em 90px;
  color: #f27588;
  background: #fde9ec;
  opacity: 0.85;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.1em;
}
.image-slider .center p.slider-link {
  position: absolute;
  bottom: 15px;
  right: 30px;
  padding: 5px 5px 7px 5px;
  color: white;
  border: 1px solid #f48c9c;
}
.image-slider .center p.slider-link a {
  font-family: "EmbedFont-2";
  display: block;
  padding: 9px 2em 8px 2em;
  color: inherit;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

.nivoSlider {
  position: relative;
  width: 900px;
  height: 300px;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 300px;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

.nivo-caption {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 8;
}

.nivo-caption p {
  padding: 0;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav {
  width: 900px;
  margin: 0;
  padding: 0;
}

.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/nivo/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

a.nivo-prevNav {
  left: 15px;
}

a.nivo-nextNav {
  right: 15px;
  background-position: -30px 0;
}

.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

#slider-wrapper {
  font-family: "EmbedFont-2";
  position: relative;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #dadada;
  background: #cccccc;
}

#slider {
  position: relative;
  width: 900px;
  height: 300px;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#slider a {
  border: 0;
  display: block;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: -42px;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(/images/nivo/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-caption {
  position: absolute;
  top: 0;
  height: 300px;
}

.nivo-caption {
  text-shadow: none;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
