/*
Syntax error: Undefined variable: "$home-img-h".
        on line 136 of ./sass/side-right.sass

131: 				@extend .corner-all
132: 				@extend .bg-gradient-primary
133: 				+float-left
134: 				clear: left
135: 				width: $content-img-w
136: 				height: $home-img-h
137: 				margin: 0 ($h-gap / 2) ($v-gap / 2) 0
138: 			h1
139: 				@extend .font-embed-1
140: 				+box-sizing(border-box)
141: 				width: ($content-width - ($content-img-w + ($h-gap / 2)))

Backtrace:
./sass/side-right.sass:136
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/script/variable.rb:45:in `_perform'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/script/node.rb:40:in `perform'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/engine.rb:238:in `render'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `each'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `each'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/rack.rb:51:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/showexceptions.rb:24:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/showstatus.rb:20:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lint.rb:48:in `_call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lint.rb:36:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/showexceptions.rb:24:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/commonlogger.rb:18:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/jtskaggs2/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/jtskaggs2/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/jtskaggs2/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/jtskaggs2/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$home-img-h\".\A         on line 136 of ./sass/side-right.sass\A \A 131: 				@extend .corner-all\A 132: 				@extend .bg-gradient-primary\A 133: 				+float-left\A 134: 				clear: left\A 135: 				width: $content-img-w\A 136: 				height: $home-img-h\A 137: 				margin: 0 ($h-gap / 2) ($v-gap / 2) 0\A 138: 			h1\A 139: 				@extend .font-embed-1\A 140: 				+box-sizing(border-box)\A 141: 				width: ($content-width - ($content-img-w + ($h-gap / 2)))"; }
