- @title = " | Ingredients"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Ingredients", "/ingredients"]
- @sub1 = ["Our Formula", "#formula"]
- @sub2 = ["Supplement Facts", "#facts"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}


.body
  .center
    .content
      #four.sidebar.right
        .text
          %h1=@sub2[0]
          %p
            %b Serving Size:
            1 Capsule
            %br
            %b Amount per Serving:
            500mg
            %br
            30 Servings per Container
          %p
            %b Ingredients:
            BBB Enhancement Formula Proprietary Blend*: Maca Root, Dong Quai, Saw Palmetto, Fenugreek, Mexican Wild Yam, Soy Isoflavones, Citrus Bioflavonoids, Rose Hips, Genistein, Dandelion, Watercress, Tyrosine
          %p
            %sub
              * Daily Value not established.
              %br
              All BBB Formula ingredients are recognized as GRAS (Generally Recognized As Safe).


      #four.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Please take a moment to go over our ingredients and their important roles each play for BBB Formula. No single ingredient can give you a bigger butt. They all have different ways to contribute. And it is our job to formulate the right herbs and precise amounts in each and every single bottle. So relax and leave the hard work to us!
            %p
              %b Note:
              Many potential customers asks us why would they purchase our formula at retail prices, when they can get all of these ingredients individually and mix them themselves. That sounds like a brilliant idea, except we don't disclose the amounts of each ingredient! Save yourself the trouble. If it were that easy, we wouldn't be devoting a full page listing of our ingredients for the whole world to see.

            %h2 Maca Root:
            %p Native to Peru, this plant has been assisting Peruvians in achieving curvacious body shapes since the late 1800s. It is also known to normalize hormone levels, which is key for our formula to be successful. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Dong Quai:
            %p For centuries, this Asian root has been used to treat cramps and fatigue. Perfect for assisting you during those long workouts and high levels of exercise. Dong Quai has also been known to assist the body in efficiently using hormones. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Saw Palmetto:
            %p Found in southeastern United States, this small palm helps prevent urinary tract infections among other medical conditions. This ingredient will help ensure you are healthy throughout the course of your BBB undertaking. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Fenugreek:
            %p Used Worldwide. This powerful plant is known for it's digestive aid to help slow down your metabolism. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Mexican Wild Yam:
            %p Most known for triggering the activity of estrogen in the body. This perennial plant will help our formula give you that "Hour Glass Shape" you've always dreamed of. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Soy Isoflavones:
            %p Isoflavones can be found in many foods but the best known source is the soy bean. The soy isoflavones are responsible for most of the soy health benefits one of which is the creation of new bone. Which plays a very important role when your hips widen, the extra body mass applied to your hip bones is balanced out with an increase of bone mass. Otherwise, you would end up with a bigger butt and wider hips along with chronic problems. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Citrus Bioflavonoids:
            %p Widely used in Europe to prevent and treat a wide range of diseases. We have included this ingredient in our formula to ensure your health and well being during the time you take our formula. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Rose Hips:
            %p This tasteless fruit is said to help widen your hips and provide a curvacious figure. People throughout the world have reported this wonderful transformation and although some scientists label this claim as an urban legend, our recent studies in patients have concluded otherwise. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Genistein:
            %p One of the many isoflavones. This plant has been shown to interact human estrogen receptors, causing effects in the body similar to those caused by the hormone estrogen which include a widened pelvis, and increased amounts of body fat in the buttock, thigh and hip region. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Dandelion:
            %p Evolved for over 30 Million years ago, this plant has been used by humans for a wide range of reasons. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Watercress:
            %p Native to Europe and Central Asia, this is one of the oldest leaf vegetables known to man. Watercress is also one of the main ingredients in V8 Vegetable Juice. It is one of the main ingredients used in assisting us in "redirecting fat". A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.

            %h2 Tyrosine:
            %p A naturally occuring amino acid, Tyrosine plays an important role in the functioning of the adrenal, pituitary, and thyroid glands, which control hormone production. Some studies suggest that Tyrosine may also stimulate the production of growth hormone which helps build muscle and reduce belly fat. A well known supplement designed for promoting natural buttock enlargement and eliminating any cellulite.


          .spacer