- @title = " | Guidelines"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Guidelines", "/guide"]
- @sub1 = ["Which Body Type Are You?", "#bodytype"]
- @sub2 = ["Guidelines", "#guide"]
- @sub3 = ["Dolor Sit Amet", "dsa"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}




.body
  .center
    .content
      #three.sidebar.right
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub3[1]}
          /       =@sub3[0]
      

      #two.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %img{:src => "/images/three-1.jpg", :alt => ""}
            %h2 [Gynaeoid body] - Thick/Fuller
            %p Curvaceous hips with a tapered, small waist are the prominent features for Gynaeoid women. They have small to medium shoulders and the breasts vary in size. The hips and thighs curve outwards and weight gain occurs only below the waistline. 
            %p Gynaeoid women tend to have a predominance of the female hormone oestrogen, (oestrogen dominance) which targets the uterine region, the hips, thighs and breasts. Excessive oestrogens promote fat deposition around the lower parts of the body as well as cellulite. If weight loss is attempted by following a very low fat low calorie diet, there is a reduction from the breasts, shoulders and arms etc., but alas not from the thighs and buttocks.
            .clearfix

            %img{:src => "/images/three-1.jpg", :alt => ""}
            %h2 [Android body] - Medium/Average
            %p Android body types are characterised by broad shoulders, a large rib cage and strong shapely muscular limbs. Android body types are somewhat straight up and down with a narrow pelvis and hips that do not curve outwards. The waistline is not accentuated.
            %p Android women have an anabolic metabolism, which leads to a body building tendency, so strength, both physical and mental, are prominent characteristics. Many good athletes are Android shaped. Weight gain occurs in the upper part of the body and on the front of the abdomen, so that an apple-shape may develop.
            .clearfix

            %img{:src => "/images/three-1.jpg", :alt => ""}
            %h2 [Thyroid body] - Thin/Skinny
            %p Thyroid body types are characterised by relatively long limbs with fine, narrow bones. They often become dancers and models, and can be described as having a 'race-horse' or 'greyhound' appearance.
            %p Thyroid women consume stimulants in excess. These include; caffeine, nicotine, diet pills etc. A high metabolic rate allows them to eat generously with little or no weight gain. Of all the body types, Thyroid women are least likely to develop cellulite, but if it does occur, it will be on the buttocks and backs of the thighs.
            .clearfix

            %img{:src => "/images/three-1.jpg", :alt => ""}
            %h2 [Lymphatic body] - Thick/Fuller
            %p Weight gain occurs over the entire body in Lymphatic women, which gives them a 'cuddly baby doll appearance'. Weight gain occurs very easily for Lymphatic women, as the metabolic rate is very slow, accompanied by a dysfunctional lymphatic system. Cellulite is common in this body type with deposits of fat swollen with lymphatic fluid, giving a dimpled appearance on thick puffy limbs.
            .clearfix
        
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p As you can see, everyone of these bodies are different. Here is our guideline to better assess your situation. Obviously the "G" Model will have the fastest results, while the "T" Model will have to take our supplements a lot longer.

            %p The "G" Model will immediately see results within the second month, 8 Months until Perfect Results.

            %p The "A" Model will see results within the third month, 8 Months until Perfect Results.

            %p The "T" Model will take the longest, most see results by the fourth month, 10 Months until Perfect results.

            %p The "L" Model will see results between the second and third month, 8 Months until Perfect Results.

            %p Our results are based on averages, it might take less or it might take more time. A lot of factors contribute to the final result such as: diet, age, body type, and consistency. For example if you take our pills for 30 days straight and then you order another bottle and we ship it within a week. That's 7 days without taking our pills, so basically you will have to start all over again. That is why we recommend you order the number of bottles necessary according to our guidelines.

            %p
              Things to consider: 
              %br
              &ndash; Try to remove any stimulants from your diet. Such as coffee, sodas, and teas. 
              %br
              &ndash; Other factors that can delay your results will be: stress, sleep, and diet. 
              %br
              &ndash; A high quality calorie diet is recommended. 
              %br
              &ndash; A good exercise regimen is recommended. 


            %p 
              %b NOTE:
              It takes 12 continuous months for the Human Body to establish and keep new patterns. So even if you notice results before 12 months, it is highly recommended to finish the 12 month course for permanent results.
            %p
              View the 
              %a{:href => "/images/HerbalSafetyGuide.pdf", :target => "_blank"} Herbal Safety Guidelines.

          .spacer