- @title = " | Page2"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

%link{:href => "stylesheets/side-left.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.sidebar.subnav
        %h1 Sidebar Title
        .link
          %h5 
          %p
            %a{:href => "#about"} About Us
        .link
          %h5 
          %p
            %a{:href => "#profile"} Attorney Profile
        .link
          %h5 
          %p
            %a{:href => "#edu"} Education &amp; Affiliations
      

      #two.main
        .content
          %a{:name => "about"}
          .section
            %img{:src => "images/two-1.jpg"}
            %h1 About Us
            %p
              %b Experience + Knowledge = Results 
              %br
              We are dedicated to providing the highest level of skill, service, and security in all personal injury and wrongful death cases in San Antonio and throughout Texas.  Clients have unlimited and continuous access to a dedicated attorney, experienced in handling personal injury cases throughout Texas.  While there are many options when it comes to selecting an attorney to handle your personal injury case, we aim to make that decision easier by guaranteeing that we will aggressively represent you, from beginning to end.   
            %p In personal injury cases, knowledge and experience are power.  You will have the security of knowing that you have an attorney who understands and prepares for the many obstacles and challenges that often arise in personal injury cases in Texas.  Having successfully handled over seven hundred personal injury cases in Texas alone, you will know that you have an attorney that will get results. 
            %p Free Consultation:  There is never a charge to meet and consult with the Law Offices of George Salinas. During a consultation, we will carefully explain our analysis of your case and your rights, along with our recommendation for going forward.  If you are unable to meet with us at our office due to your injury, we routinely make alternative travel arrangements for clients.  
            %p
              %b For a Free Consultation, call us at (210) 225-0909 
        
          .spacer


          %a{:name => "profile"}
          .section
            %img{:src => "images/two-2.jpg"}
            %h1 Attorney Profile
            %p As the grandson of an educator who became the first principal of a desegregated high school in Texas and the grandson of a welder who moved his family to the United States and began his own business, George was instilled with the values of education, hard work, and determination. 
            %p George attended St. Mary's University in San Antonio, Texas, where he graduated with Honors and was one of fourteen graduating students to receive the Presidential Award. 
            %p George attended the University of Texas School of Law in Austin, Texas, where he graduated three years later.  During this time, George completed legal internships with Judge Fred Biery with the Federal District Court of the Western District of Texas and with Chief Justice Alma Lopez with the 4th Court of Appeals of Texas, in addition to two clerkships with private law firms.  After a clerkship with the Texas Attorney General's Office, George went on to serve as a Policy Analyst in the Texas Senate during the 79th Legislature.
            %p George then worked for a law firm defending corporations and insurance companies in personal injury cases throughout the state of Texas.  While he enjoyed the legal challenge and experience, George knew his heart was with representing those whose lives had been forever changed by the actions of others.  He became a trial lawyer for a personal injury law firm in San Antonio, where he represented victims and their families for five years.  During this time, George handled hundreds of cases against insurance companies and corporations throughout Texas. 
            %p The Law Offices of George Salinas was then created with a devotion to represent the needs of families and people who have suffered in some way because of the actions of others.  Today, George proudly represents people all over the state of Texas.
          .spacer


          %a{:name => "edu"}
          .section.no-image
            %h1 Education &amp; Affiliations
            %p
              %b Education:
              %br
              St. Mary's University, B.A. with Honors, Presidential Award
              %br
              University of Texas School of Law

            %p
              %b Recognitions: 
              %br
              "Best Lawyers in 2011 - Personal Injury, SA Scene Magazine" 
              %br
              "Rising Star Attorneys 2010, SA Scene Magazine"
              %br
              "Rising Star Attorneys 2009, SA Scene Magazine"
              %br
              "Rising Star Attorneys 2008, SA Scene Magazine"  

            %p
              %b Memberships and Positions: 
              %br
              Texas Trial Lawyers Association
              %br
              &mdash; Elected to Board of Advocates 2009-2012 Term 
              %br
              &mdash; Membership Committee 2008-2009
              %br
              San Antonio Trial Lawyers Association
              %br
              &mdash; 2011 Vice President Community Affairs/Outreach
              %br
              &mdash; 2010 Vice President Community Affairs/Outreach
              %br
              %br

              State Bar of Texas, Member since 2005
              %br
              San Antonio Bar Association, Member since 2006
              %br
              American Associaiton of Justice, Member 
              %br
              Federal Bar Association, Member 

            %p
              %b Admissions: 
              %br
              Texas 
              %br
              Western District of Texas (Federal) 
              %br
              Southern District of Texas (Federal)
        
