- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-4.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-5.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-6.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-7.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-8.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-9.png", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-10.png", :title => "#caption1"}/
      / #caption1.nivo-html-caption
      /   %h1 High quality service. Factory-trained staff.
      /   %h3 Lorem ipsum sit dolor amett, consectetur adipisicing elit, sed do eiusmod tempor incididunt. 
      /   %h3 Ut labore et dolore magna aliqua.
      /   %p.slider-link
      /     = link_to "Learn More", "/about"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/contact"}
          %h1 Your Event, Your Style
          %h3 From weddings and birthdays to corporate events, we design an event package tailored to your needs
          %p.link Start planning >
      #one.middle
        %a.container{:href => "/services"}
          %h1 Custom Packages
          %h3 We create events suited to your unique style, a true expression of your individuality, relationship or corporate purpose
          %p.link Find out more >
      #one.right
        %a.container{:href => "/about"}
          %h1 We do it all
          %h3 We are with them every step of the way, so you can sit back and enjoy you event
          %p.link Details >