- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
      #caption1.nivo-html-caption
        %h1 High quality service. Factory-trained staff.
        %h3 Lorem ipsum sit dolor amett, consectetur adipisicing elit, sed do eiusmod tempor incididunt. 
        %h3 Ut labore et dolore magna aliqua.
        %p.slider-link
          = link_to "Learn More", "/about"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/products"}
          %h1 The Dresser Roots Blower
          %h3 Pioneered in 1854, the Roots blowers have stood the test of time and are known for their lasting endurance and stability.
          %p.link Shop Roots Products  > >
      #one.middle
        %a.container{:href => "/about"}
          %h1 The Biggest in the United States
          %h3 ACFM Inc. is the largest Roots distributor in the United States.
          %p.link Read More  > >
      #one.right
        %a.container{:href => "/services"}
          %h1 Lorem Ipsum
          %h3 sit dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          %p.link Details  > >