- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        %h1 Slide 1: A clever title.
        %h3 This is the first impact image the user will see. A brief description of the slide is included to inform the user.
        %p.link
          = link_to "Learn More", "/about"
      #caption2.nivo-html-caption
        %h1 Slide 2: Spark an interest.
        %h3 This slide will feature a product or service that really gets the user interested in the company. Supplemental text prompts the user to act, such as purchasing or reading more.
        %p.link
          = link_to "Buy Now", "/services"
      #caption3.nivo-html-caption
        %h1
          Slide 3: Example of a
          %br/
          multi-line descriptive headline
        %h3 The third slide is much like the second&mdash;it showcases a special aspect of the company. Additional slides may be added.
        %p.link
          = link_to "Learn How", "/contact" 

.body
  .center
    .content
      #one.left
        %a.container{:href => "/about"}
          %h1 About Us
          %h3 Interest-grabber that talks about the company
          %p.link Learn More  >
      #one.middle
        %a.container{:href => "/services"}
          %h1 Featured Service
          %h3 Highlights a key product or service
          %p.link Discover  >
      #one.right
        %a.container{:href => "/gallery"}
          %h1 Sample Gallery
          %h3 View photos of our products and services
          %p.link Get Started  >