- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        %h1 High quality service. Factory-trained staff.
        %h3 Lorem ipsum sit dolor amett, consectetur adipisicing elit, sed do eiusmod tempor incididunt. 
        %h3 Ut labore et dolore magna aliqua.
        %p.link
          = link_to "Learn More", "/page2"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/page2"}
          %h1 About Us
          %h3 Interest-grabber that talks about the company
          %p.link Learn More  > >
      #one.middle
        %a.container{:href => "/page3"}
          %h1 Featured Service
          %h3 Highlights a key product or service
          %p.link Discover  > >
      #one.right
        %a.container{:href => "/page4"}
          %h1 Sample Gallery
          %h3 View photos of our products and services
          %p.link Get Started  > >