- @title = " | Page4"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Section without Image
            %p
              %b Lorem ipsum dolor sit amet
              %br
              Consectetur adipiscing elit. Nunc et lacus id augue dapibus blandit nec in tortor. Cras vitae erat sed justo malesuada elementum. Donec eget nulla nec nisl tincidunt lobortis ac sit amet felis. Ut nec neque leo. Cras at magna odio, ut mattis urna. Sed sed ipsum augue. Phasellus ac justo quis sem pellentesque varius nec vel felis. Proin ullamcorper adipiscing mauris nec dignissim.
            %p In a risus quam, eget posuere velit. Cras est dui, placerat at volutpat vel, mattis at enim. Fusce sit amet erat in velit placerat varius. Vivamus dolor lectus, lobortis in dapibus at, sodales in augue. Morbi tempor varius molestie.

            %p
              %b Proin nec magna arcu, id fermentum dui
              %br
              Nunc ac elit quis eros sodales iaculis. Sed diam diam, facilisis ut venenatis a, placerat ut neque. Suspendisse lacus risus, ultricies a rutrum vitae, hendrerit quis metus. Vivamus elementum, orci ultricies tempus mattis, mauris turpis volutpat ipsum, ac vehicula leo mauris eget sem. Praesent sollicitudin mi nec lectus congue sed aliquam libero fringilla. Fusce a sem massa. Vivamus et urna ut turpis bibendum suscipit eget pellentesque nunc. Aliquam ac dignissim metus. Praesent feugiat faucibus rutrum.
            %p Suspendisse nec tincidunt metus. Integer neque enim, ultricies sit amet vulputate eu, euismod pellentesque sem. Nam in consectetur libero. Mauris viverra, purus vitae dictum sagittis, erat elit bibendum mauris, ullamcorper laoreet elit nulla nec enim. Aliquam quis quam erat, vitae ullamcorper arcu. Cras vel diam odio. Fusce enim arcu, aliquet et congue nec, tincidunt ut metus.

            %p
              %b Aliquam auctor scelerisque fermentum
              %br
              Quisque vulputate, nunc luctus tempor adipiscing, mauris libero auctor felis, at ullamcorper augue massa vel felis. Suspendisse auctor neque eget justo tempor gravida. Curabitur scelerisque eros nec dolor convallis auctor eleifend risus blandit. Donec tempus quam quis velit laoreet eu blandit neque aliquet. Phasellus vulputate accumsan convallis.
            %p Aliquam tristique, nunc nec bibendum fermentum, metus nunc congue elit, non suscipit mauris mauris in sapien. Vestibulum dictum, massa et pellentesque malesuada, mauris sapien imperdiet enim, eu dictum nisl urna eu tortor. Aliquam sagittis tempor risus.  
            %p Praesent quis porttitor ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pulvinar facilisis metus, vitae blandit lacus tincidunt non.
        
          .spacer
          %a{:name => "anchor2"}
          .section
            %img{:src => "images/four-1.jpg"}
            %h1 Section with Image
            %p
              %b Subhead Text 
              %br
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   
            %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. 
            %p
              %b Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? 


          .spacer
          %a{:name => "anchor3"}
          .section.no-image
            %h1 Section with Form
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :width => "100%", :border => "none"} 
              
              
      #two.sidebar
        .subnav
          %h1 Subnav Sidebar
          .link
            %h5 
            %p
              %a{:href => "#anchor1"} Section without Image
          .link
            %h5 
            %p
              %a{:href => "#anchor2"} Section with Image
          .link
            %h5 
            %p
              %a{:href => "#anchor3"} Section with Form
        .text
          %h1 Text Sidebar
          %h3 Subtitle Text
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .button
          %h1 Button Sidebar
          %h3 Subtitle Text
          %p.link
            %a{:href => "/path"} Link Text
        .form
          %h1 Form Sidebar
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :border => "none"}      
