@import compass/utilities
@import compass/layout
@import compass/css3

// COLOR DEFINITIONS
$primary: #f48c9c
$primary-light: lighten(adjust-hue($primary, 0%), +20)
//$primary-light: #0a65b4
$primary-dark: darken($primary, +5)
$secondary: #000
$secondary-light: lighten(adjust-hue($secondary, 0%), +5)
//$secondary-light: #ebd716
$secondary-dark: darken($secondary, +5)
$accent: #efefef
$apple-highlight:	#b4d5ff

$line-color: #dadada

$gray-dark: #727272
$gray-med: #777
$gray-light: #ccc


// COLOR APPLICATION
$html-bg:									#fff
$body-bg:									$html-bg
$center-container-bg:			#fff

$text-dark:								#000
$text-light:							$gray-med
$text-highlight:					$apple-highlight

$header-title:						#fff
$header-text:							#fff
$header-link:							$secondary
$header-link-hover:				#000
$header-border:						$gray-med

$nav-text:								#000
$nav-text-hover:					#000
$nav-lines:								$primary
$nav-bg:									$primary
$nav-dropdown-text:				$gray-med
$nav-dropdown-hover:			#fff
$nav-dropdown-bg:					$primary-dark
$nav-dropdown-bg-hover:		$primary-light
$nav-dropdown-border:			$gray-dark
$nav-dropdown-accent:			$secondary

$image-slider-bg:					$gray-light
$image-slider-title:			$primary-light
$image-slider-text: 			$gray-dark
$image-slider-link:				#fff
$image-slider-link-hover:	#fff
$image-slider-border:			$line-color

$section-title:						$primary
$section-text:						$text-light
$section-lines:						$gray-light
$section-border:					$secondary

$option-title:						$primary
$option-title-bg:					transparent
$option-text:							$secondary
$option-link:							$secondary
$option-link-hover:				#aaa
$option-bg:								$accent
$option-border:						$line-color

$footer-title:						$gray-med
$footer-text:							$text-light
$footer-link:							$primary
$footer-link-hover:				#000
$footer-border:						$line-color

$m3c-bg:									$primary
$m3c-border:							$gray-light
$m3c-text:								$primary-light
$m3c-link:								#000
$m3c-link-hover:					#fff
$m3c-link-border:					$line-color

$opacity:									0.75
$opacity-pc:							($opacity*100)			// DO NOT CHANGE, IS UPDATED BY LINE ABOVE




// GRADIENTS
.bg-gradient-primary
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from($primary-light), to($primary))
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, $primary-light, $primary)
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461)
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#004f94, endColorstr=#003461)"

.bg-gradient-reverse
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from($primary), to($primary-light))
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, $primary, $primary-light)
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94)
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#003461, endColorstr=#004f94)"

.bg-gradient-secondary
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from($secondary-light), to($secondary))
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, $secondary-light, $secondary)
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90)
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0081c2, endColorstr=#005f90)"

.bg-gradient-gray-accent
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from($accent), to(#ffffff))
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, $accent, #ffffff)
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff)
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#ffffff)"

// CURSOR HIGHLIGHTING
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection
	background: $text-highlight
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection
	background: $text-highlight
