- @title = " | Page5"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Text Sidebar
          %h3 Subtitle Text
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Section with Form
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :width => "100%", :border => "none"}       
