- @title = " | About"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["About", "/about"]
- @sub1 = ["About Us", "#about"]
- @sub2 = ["Our Staff", "#staff"]
- @sub3 = ["ssss", "ssss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-2-1.jpg", :title => "#caption1"}/
      #caption1.nivo-html-caption
        %h1 Factory authorized. 60+ years of experience.
        %p.slider-link
          = link_to "Contact Us", "/contact"


.body
  .center
    .content
      #two.sidebar.right
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub3[1]}
        /         =@sub3[0]
        .text
          %h1 The Biggest in the United States
          %p ACFM Inc. is the largest Roots distributor in the US, serving the southern United States, Mid-West and clients from around the world.
        / .button
        /   %h1 Button Sidebar
        /   %h3 Subtitle Text
        /   %p.link
        /     %a{:href => "/path"} Link Text
        / .form
        /   %h1 Form Sidebar
        /   .contact-form
        /     %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :border => "none"}
      

      #two.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p ACFM Inc. is a factory-authorized distributor and service provider of Roots blowers and Roots equipment, and has over 60 years of combined experience in the application of blower systems. Established in 1999, we are a customer-oriented company that has built an outstanding reputation for ourselves when it comes to superior customer service, quality work and successfully completed projects.
            %p We are experienced in creating and installing blower packages for all types of industries, and has built customized packages for the chemical and petrochemical industry, wastewater treatment, vapor recovery, material handling, and pharmaceutical companies.
            %p We continue to excellently serve the southern United States, Mid-West and clients from around the world with the application of our expertise, knowledge and skills.
        
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p ACFM Inc. maintains a team of qualified, factory-trained technicians with the knowledge, skills and extensive years of experience and education it takes to quickly and reliably fix your compressed air equipment.      

          .spacer