- @title = " | Frequently Asked Questions"
- @subtitle = ""
- @body_class = "six"

- @sub0 = ["Frequently Asked Questions", "/faq"]
- @sub1 = @sub0
- @sub2 = ["Guidelines", "#guide"]
- @sub3 = ["Dolor Sit Amet", "dsa"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#six.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-1.jpg"}




.body
  .center
    .content
      #six.sidebar.right
        .form
          %h1 More Questions?
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "430", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p2m7/", :border => "none"}

      

      #six.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %h2
              %a{:onclick => "return toggleMe('hide1')"} Where has BBB been sold?
            #hide1{:style => "display:none"}
              %p BBB Enhancement Formula has been sold all over the world. We were founded in Hollywood and Houston, TX but we quickly gained notoriety from places such as: Kuwait, Australia, Canada, United Kingdom, Portugal, The Netherlands, Africa, and Spain just to name a few! 

            %h2
              %a{:onclick => "return toggleMe('hide2')"} How long has BBB been sold?
            #hide2{:style => "display:none"}
              %p BBB is the only Natural Butt Enhancement Supplement in the United States as of October, 2008 and has been sold Worldwide since 2008. Nationwide since 2007. Locally since 2001.

            %h2
              %a{:onclick => "return toggleMe('hide3')"} What does BBB stand for?
            #hide3{:style => "display:none"}
              %p BBB is an abbreviation for Big Beautiful Buttocks.

            %h2
              %a{:onclick => "return toggleMe('hide4')"} Is your BBB Enhancement Formula healthy?
            #hide4{:style => "display:none"}
              %p Absolutely, our pills are completely safe, made with 100% natural earth friendly ingredients. They have not shown any side effects. They are also a 100% Allergy Free Product. However you should not be taking our Formula if you are anorexic, clinically obese, pregnant, or currently nursing. Or if you are sick (flu, virus, illness, cold, infection, disease, etc.)

            %h2
              %a{:onclick => "return toggleMe('hide5')"} How many pills are in each bottle?
            #hide5{:style => "display:none"}
              %p There are 30 pills (capsules) in each bottle.

            %h2
              %a{:onclick => "return toggleMe('hide6')"} How long does a bottle last?
            #hide6{:style => "display:none"}
              %p Each bottle is a 1 month supply. Take 1 capsule a day!

            %h2
              %a{:onclick => "return toggleMe('hide7')"} Should I buy more than 1 bottle at a time?
            #hide7{:style => "display:none"}
              %p That is a personal decision. You may purchase a complete package at once and save money or buy 1 bottle to try it out.

            %h2
              %a{:onclick => "return toggleMe('hide8')"} How long will it take before I notice any results?
            #hide8{:style => "display:none"}
              %p It depends on your genetics and your age. On average our clients see results in the third month of directed use. Some report seeing results within the first wks. This is specially true for women who have fuller body types, their bodies quickly redirect their fat stored in thier bellies and transfer it to their buttocks. They notice results almost immediately. For women who are naturally thin with very little body fat, their bodies will respond to our pills gradually and slowly. They will notice results within 2 to 4 months. WARNING:DO NOT TAKE MORE THAN 1 PILL A DAY, IF YOU TAKE 2 OR MORE PILLS YOU WILL SEE RESULTS FASTER BUT YOU MIGHT DEVELOP STRETCH MARKS DUE TO RAPID GROWTH.

            %h2
              %a{:onclick => "return toggleMe('hide9')"} Is it FDA Approved?
            #hide9{:style => "display:none"}
              %p FDA does not approve dietary supplements. Unlike new drugs, dietary supplements are not reviewed and approved by FDA based on their safety and effectiveness. Most dietary supplements that contain a new dietary ingredient (a dietary ingredient not marketed in the United States before October 15, 1994) require a notification to FDA 75 days before marketing. The notification must include the information that was the manufacturer or distributor's basis for concluding that the dietary supplement will reasonably be expected to be safe. After dietary supplements are on the market, FDA evaluates their safety through research and adverse event monitoring.

            %h2
              %a{:onclick => "return toggleMe('hide10')"} Do you ship Worldwide?
            #hide10{:style => "display:none"}
              %p Yes, we ship worldwide. Regardless of where you live we will ship your package on First Class (United States) or First Class International (Outside the US).

            %h2
              %a{:onclick => "return toggleMe('hide11')"} What currency is your product sold in?
            #hide11{:style => "display:none"}
              %p
                All of our pricing is in US Dollars. Since we operate our business in the United States and 85% of sales are done within the US we keep our prices and content US based. If you are purchasing from a different country and wish to translate your money into US dollars then we recommend you using a currency converter such as
                %a{:href => "http://www.xe.com", :target => "_blank"}www.xe.com

            %h2
              %a{:onclick => "return toggleMe('hide12')"} Do I have to continue taking your pills after I have achieved my results?
            #hide12{:style => "display:none"}
              %p If you are looking for perfect, permanent results, you must take the product for 12 months. Otherwise you will lose the results. 

            %h2
              %a{:onclick => "return toggleMe('hide13')"} Will BBB Enhancement Pills interfere with Breast Enhancement Pills?
            #hide13{:style => "display:none"}
              %p No. BBB Pills will not interfere with Breast Enhancement Pills.

            %h2
              %a{:onclick => "return toggleMe('hide14')"} Will BBB Enhancement Pills interfere with Birth Control Pills?
            #hide14{:style => "display:none"}
              %p No. BBB Pills will not interfere with Birth Control Pills.

            %h2
              %a{:onclick => "return toggleMe('hide15')"} Will taking other medications affect my results with BBB?
            #hide15{:style => "display:none"}
              %p If you are taking Breast Pills or Birth Control Pills then the answer is no. However we have not tested our formula with any other medications/supplements. Please consult your doctor if you have any safety concerns regarding combining the two.

            %h2
              %a{:onclick => "return toggleMe('hide16')"} Why is it that some women have small butts while other women have big butts?
            #hide16{:style => "display:none"}
              %p Well the same reason why some women have big breasts and other women have small breasts. There are 4 body types for women: Android Type, Gynaeoid Type, Thyroid Type, and Lymphatic Type. You are most likely going to inherit your parents body types due to genetics. 

            %h2
              %a{:onclick => "return toggleMe('hide17')"} Breast Pill Companies do not allow caffeine and alcohol, does that mean I must avoid these while taking BBB pills?
            #hide17{:style => "display:none"}
              %p No, you can consume caffeine and alcohol as you choose. Caffeine and alcohol are diuretics, and cause your body to not retain water weight. Water retention has nothing to do with the function of our pills.

            %h2
              %a{:onclick => "return toggleMe('hide18')"} Will it make my hips wider?
            #hide18{:style => "display:none"}
              %p Yes. Especially if you don't have any hips. As your buttocks grow, your hips and thighs will automatically expand in proportion to your buttocks. But if you already have a fuller shape, your hips will still grow but not as dramatic as a skinnier/thinner woman.

            %h2
              %a{:onclick => "return toggleMe('hide19')"} Does this work on guys?
            #hide19{:style => "display:none"}
              %p Well when we created BBB, our main focus was in the female gender. But over the years many men who were concerned because they were too skinny have purchased our products with great results. Even though we market our product to women. As of today 8% of our customers are males.(Many men are worried that this product will give them a female shape but as we have said, your hormones dictate how our formula will work for you. Our formula works very different on males than on females. Females get that "Hourglass Shape" while Males get bigger masculine buttocks along with bigger legs and wider hips)

            %h2
              %a{:onclick => "return toggleMe('hide20')"} Do you offer a Money Back Guarantee?
            #hide20{:style => "display:none"}
              %p We offer a 12 month money back guarantee on all 12 month supply's. Return shipping will be paid by buyer. Item must be shipped back in original packaging within 12 months. Buyer pays for the returned shipping and a 15% restocking/relisting fee will be applied. P.S. If your order arrives damaged or broken, simply return it for an exchange at no extra charge. Buyer must pay to return it.

            %h2
              %a{:onclick => "return toggleMe('hide21')"} Why are your bottles so expensive?
            #hide21{:style => "display:none"}
              %p Well mainly because we are the only ones selling it. Competition brings the price down, but since we don't have any competition we can afford to keep the prices up. When you think about it (butt implants) have an average cost of $5,500. With us you can achieve better results with just a fraction of the cost. So in perspective we are actually 90% more afforable.

            %h2
              %a{:onclick => "return toggleMe('hide22')"} I don't have a credit card. How can I purchase this product?
            #hide22{:style => "display:none"}
              %p If you do not have access to a CC that's no problem. You may pay with your PayPal account. We accept several other forms of payment such as Western Union (must meet requirements). We are sorry, we do NOT accept any form of Check or Money Order.

            %h2
              %a{:onclick => "return toggleMe('hide23')"} How do you order?
            #hide23{:style => "display:none"}
              %p Just go to our "Order Page" and click on how many month's supply you wish to purchase. You will then be prompted to choose your "Country" and "Body Type". Once you do that, click on the "buy now" button where you will enter the PayPal server. You will have the option to log into your PayPal account or (if you don't have one) pay with your Credit Card.

            %h2
              %a{:onclick => "return toggleMe('hide24')"} I want to buy your product but I don't want my roommates/family/boyfriend/mailman to find out?
            #hide24{:style => "display:none"}
              %p Don't worry! Your package is shipped discreetly in plain packaging with no markings/logos on the outside to reflect it's contents. If your concern is regarding the bottle itself, then once our product arrives. Throw the bottle and put our pills in a "multi-vitamin bottle" so that people think you are taking vitamins.

            %h2
              %a{:onclick => "return toggleMe('hide25')"} Do you have before and after pictures?
            #hide25{:style => "display:none"}
              %p We used to have them on our website but after several people started stealing them and posting them on other websites, we made the decision to take them off. We only show them to local customers who visit our store.


          .spacer