- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Services", "/services"]
- @sub1 = ["Our Services", "#services"]
- @sub2 = ["sss", "#sss"]
- @sub3 = ["sss", "#sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}




.body
  .center
    .content
      #three.sidebar.right
        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "450", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p1a7/", :border => "none"}    
      

      #three.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Our clients look for a planning service that attend to their needs promptly and efficiently, who can tailor their events making it a pleasurable and a memorable experience.
            %p We have provided consulting and planning for the following kinds of events:          
            %h2 Weddings
            %p
              &mdash; Engagement parties
              %br
              &mdash; Showers
              %br
              &mdash; Rehearsal dinners
              %br
              &mdash; Receptions
              %br
              &mdash; Budgeting


              Social Events: Birthday parties, graduations, family reunions, baby showers, anniversaries, vendor coordination and arrangement, budgets.
              Corporate Events: Holiday parties, corporate retreats, customer and employee awards or appreciation events.
            %h2 Social Events
            %p
              &mdash; Birthday parties
              %br
              &mdash; Bar/Bat Mitzvah
              %br
              &mdash; Graduations
              %br
              &mdash; Family reunions
              %br
              &mdash; Baby showers
              %br
              &mdash; Anniversaries
              %br
              &mdash; Private parties
              %br
              &mdash; Family Reunions

            %h2 Corporate Events
            %p
              &mdash; Holiday parties
              %br
              &mdash; Executive meetings
              %br
              &mdash; Corporate retreats
              %br
              &mdash; Employee appreciation awards
              %br
              &mdash; Training
              %br
              &mdash; Budgeting

            %h2 Large Events
            %p
              &mdash; Fashion shows
              %br
              &mdash; Non-profit events
              %br
              &mdash; Carnivals / Festivals
              %br
              &mdash; Casino &amp; Hotel events
              %br
              &mdash; Galas &amp; Award Ceremonies
              %br
              &mdash; Trade Shows &amp; Conventions


           
          .spacer